
<ion-content fullscreen padding scroll-y="true">
  <ion-slides>
<br>

    <ion-slide>
      <img src="assets/img/Loading1.png"/>
    </ion-slide>

    <ion-slide>
        <img src="assets/img/Loading2.png"/>
    </ion-slide>

    <ion-slide>
      <div class="logo">
      <img src="assets/img/slide-1.png"/></div>
      

      <section>
        <div class="gambar">
        <ion-button icon-left size="medium" expand="short" shape="round" color="dark" (click)="goToRegister()" [disabled]="!onRegisterForm.valid"
        tappable>
        <ion-icon name="log-in"></ion-icon>
        Sign Up
        </ion-button> <br>
        <ion-button icon-left size="medium" expand="short" shape="round" color="dark" (click)="login()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Sign In
        </ion-button>
      </div>
      </section>
    </ion-slide>

  </ion-slides>
</ion-content>